<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="fragments/header :: header-css"></head>

<body>
<div th:replace="fragments/header :: header"></div>
<main role="main">
    <section class="h-100">
        <div class="container py-5">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Order Number</th>
                    <th scope="col">Date of Order</th>
                    <th scope="col">Status</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order: ${orders}">
                    <td th:text="${order.orderNumber}"></td>
                    <td th:text="${#dates.format(order.dateOfOrder, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${order.status}"></td>
                    <td th:text="${order.totalAmount + ' lei'}"></td>
                    <td th:text="${order.customerName}"></td>
                    <td th:text="${order.customerAddress}"></td>
                    <td th:text="${order.customerPhone}"></td>
                    <td>
                        <div sec:authorize="hasAuthority('ADMIN')">
                            <a class="btn btn-sm btn-danger"
                               th:href="@{'/admin-order-delete/' + ${order.id}}">Delete</a>
                            <a class="btn btn-sm btn-info"
                               th:href="@{'/admin-order-view/' + ${order.id}}">View</a>
                            <a class="btn btn-sm btn-warning"
                               th:href="@{'/admin-order-update/' + ${order.id}}">Update</a>
                        </div>
                        <div sec:authorize="hasAuthority('CLIENT')">
                            <a class="btn btn-sm btn-info"
                               th:href="@{'/client-order-view/' + ${order.id}}">View</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
