<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header-css}"></head>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<main role="main">
    <div class="container py-5">
        <h2 class="mb-4">Order Details</h2>
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <p><strong>Order Number:</strong> <span th:text="${order.orderNumber}"></span></p>
                <p><strong>Date:</strong> <span th:text="${#dates.format(order.dateOfOrder,'dd/MM/yyyy HH:mm')}"></span></p>
                <p><strong>Status:</strong> <span th:text="${order.status}"></span></p>
                <p><strong>Total Amount:</strong> <span th:text="${order.totalAmount} + ' Lei'"></span></p>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h5 class="mb-0">Delivery Details</h5>
            </div>
            <div class="card-body">
                <p><strong>Name:</strong> <span th:text="${order.customerName}"></span></p>
                <p><strong>Address:</strong> <span th:text="${order.customerAddress}"></span></p>
                <p><strong>Phone:</strong> <span th:text="${order.customerPhone}"></span></p>
            </div>
        </div>
        <div class="card shadow-sm">
            <div class="card-header">
                <h5 class="mb-0">Products</h5>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="po : ${order.productOrders}">
                        <td th:text="${po.product.name}"></td>
                        <td th:text="${po.quantity}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
