<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="fragments/header :: header-css"></head>

<body>
<div th:replace="fragments/header :: header"></div>
<main role="main">
    <section class="h-100 gradient-custom">
        <div class="container py-5">
            <div class="row d-flex justify-content-center my-4">

                <div class="col-md-8">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0" th:text="'Cart - ' + ${products.size()} + ' items'"></h5>
                        </div>
                        <div class="card-body" th:if="${!products.isEmpty()}">
                            <div th:each="productAndQuantity : ${products.entrySet()}">
                                <div class="row align-items-center">

                                    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                        <img th:src="${productAndQuantity.getKey().getMainImageUrl()}"
                                             class="w-100 rounded"/>
                                    </div>


                                    <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                        <p><strong th:text="${productAndQuantity.getKey().getName()}"></strong></p>
                                        <p th:text="${productAndQuantity.getKey().getCategory()}"></p>
                                    </div>


                                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 text-center">
                                        <div class="d-flex justify-content-center mb-3">
                                            <a class="btn btn-primary px-3 me-2"
                                               th:href="'/shopping-cart-remove/'+${productAndQuantity.getKey().getId()}">
                                                <i class="fas fa-minus"></i>
                                            </a>

                                            <input min="0" type="number"
                                                   th:value="${productAndQuantity.getValue()}"
                                                   class="form-control text-center"
                                                   style="width:70px;" readonly/>

                                            <a class="btn btn-primary px-3 ms-2"
                                               th:href="'/shopping-cart-add/'+${productAndQuantity.getKey().getId()} +'?origin=shopping-cart'">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </div>
                                        <p>
                                            <strong th:text="${productAndQuantity.getKey().getPromoPrice() == null ?
                                                            productAndQuantity.getKey().getPrice() :
                                                            productAndQuantity.getKey().getPromoPrice()} + ' lei'"></strong>
                                        </p>
                                    </div>
                                </div>
                                <hr class="my-4"/>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4" th:if="${!products.isEmpty()}">
                        <div class="card-body">
                            <p><strong>Expected delivery</strong></p>
                            <p class="mb-0" th:text="${deliveryStart}+' - '+${deliveryEnd}"></p>
                        </div>
                    </div>

                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body">
                            <p><strong>We accept</strong></p>
                            <img class="me-2" width="45px"
                                 src="https://img.icons8.com/color/48/visa.png" alt="Visa"/>
                            <img class="me-2" width="45px"
                                 src="https://img.icons8.com/color/48/mastercard.png" alt="Mastercard"/>
                            <img class="me-2" width="45px"
                                 src="https://img.icons8.com/color/48/amex.png" alt="American Express"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <form th:action="@{/cart-checkout}" method="post" class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0">Summary</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush mb-3">
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                    Products
                                    <span th:text="${totalPrice} + ' lei'"></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    Delivery
                                    <span>Free</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong>Total amount</strong>
                                        <p class="mb-0">(including VAT)</p>
                                    </div>
                                    <span><strong th:text="${totalPrice} + ' lei'"></strong></span>
                                </li>
                            </ul>
                            <h6 class="mb-3">Delivery Details</h6>
                            <div class="form-group mb-2">
                                <input type="text" name="firstName" class="form-control" placeholder="First Name" required>
                            </div>
                            <div class="form-group mb-2">
                                <input type="text" name="lastName" class="form-control" placeholder="Last Name" required>
                            </div>
                            <div class="form-group mb-2">
                                <input type="text" name="address" class="form-control" placeholder="Address" required>
                            </div>
                            <div class="form-group mb-3">
                                <input type="text" name="phone" class="form-control" placeholder="Phone" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block"
                                    th:disabled="${products.isEmpty()}">
                                Checkout
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
